*{
    box-sizing: border-box;
}

body{
    background-color: beige;
    margin:0;
}
  

nav li{
    display: inline-block;
    padding: 10px 0;
    }

    
a{
    text-decoration: none;
    color:white;
    padding: 20px;
}

header{
    background-color: black;
    padding:20px 0;
    width:100%;

}

ul{
    text-align: right;
}

q:before {
    content:'"';
    color:black;
}

q:after {
    content:'longue"';
    color:black;
}

.q{ 
    text-align: center;
    width:100%;
    margin: 50px 0;
}

div {
    
    word-spacing: 5px;
    font-size: 30px;
}

#cards {
    width:90%;
    margin: auto;
    display:flex;
    justify-content: space-between;
}


#cards>div{
    text-align: center;
    background-color: lightgray;
    width: 25%;
    padding:15px;
   }

#cards div a {
    color:black;
    background-color: red;
    border-radius: 10px;
    
}

#cards a{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 40px;
}

div#cards div:hover a{
    background-color:orange;
}

h2::first-letter{
    color:red;
}

 
.fleche a{
    background-image: url(../1812/arrow.png);
    background-repeat: no-repeat;

}

p{
    font-size:20px;
}
    
.liste input:before{
color:green;
}

input[type="radio"]:checked+ label span{
    background-color: green;
}

input[type="radio"]{ display: none;}

input[type="radio"]+label{
    font-size: 14px;
}

input[type="radio"]+label span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin:-1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: white;
    border:solid black 1px;
}

a.bouton{
background-color:green;
color: black;
font-weight: bold;
padding:10px 40px;
border-radius: 10px;
cursor: pointer;
text-decoration: none;
transition: background-color 1s;

}

a.bouton:hover{
background-color:orange;
}

footer{
    text-align: center;
    padding:20px;
    margin:0;
    background-color:gray;
    width:100%;

}

#radio{
    display: flex;
    width: 85%;
    justify-content: space-around;
    align-items: center;
    margin:50px auto;  
}

.liste label{
    width: 30%;
  
   padding: 0;
}
 #start:after{
     content:'1280 px';
 }

 #end{
     display: none;
 }

@media screen and (max-width:800px ){
    nav li {
    width:100%;
    text-align: center;}

    li {
        border-bottom: solid white 2px;
    }

    
    q{
        font-size:20px;
    }

    q:after {
        content:'courte"';
        color:black;
    }

    #cards {
        width: 80%;
        display:block;
        margin: auto;
    }

    #cards>div {
        width: 100%;
        margin-bottom: 20px;
    }

    nav ul {
        width: 100%;
        margin:0;
        padding:0;
        border-bottom: white 2px;
    }

    #radio{
        display: block;
        width: 80%;
        margin: auto;
    }

    a.bouton{
        display: block;
        width: 100%;
        text-align: center;
        margin: 30px 0;
    }

    footer{
        background-color: indigo;
    }

    #end{
        display: block
    }

    #start{
        display: none;
    }

    #end::after {content: '800px';}
    }
     
